
   .mac-container {
      display: flex;
      max-width: 1200px;
      margin: 2rem auto;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    }

    .mac-image {
      flex: 1;
      min-width: 50%;
    }

    .mac-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .mac-content {
      flex: 1;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .mac-content span {
      font-size: 0.8rem;
      text-transform: uppercase;
      color: #999;
      letter-spacing: 1px;
      margin-bottom: 0.5rem;
    }

    .mac-content h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #222;
    }

    .mac-content p {
      color: #555;
      font-size: 1rem;
      line-height: 1.6;
    }
.order-btn {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  background-color: #ff5722; /* Green */
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  /* margin-left: 0.5rem; */
  margin-top: 0.8rem;
}
/* //////////////////////////////////////////////////////////////// */



