.menu-page-body {
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-hero {
  background: url('../images/dinner1.jpg') no-repeat center center/cover;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-hero-overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 30px;
  border-radius: 8px;
}

.menu-title {
  font-size: 3rem;
  color: #fff;
}

.menu-container {
  padding: 40px 5%;
  display: flex;
  flex-direction: column;

}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.menu-card {
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  background-color: #fff;
  transition: transform 0.3s ease;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.menu-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.menu-item-title {
  font-size: 1rem;
  margin: 0.2rem;
  padding: 1rem;
}

.menu-desc {
  font-size: 0.9rem;
  margin: 0 15px 10px;
}

.menu-price {
  font-weight: bold;
  margin: 10px 15px;
  font-size: 1rem;
}

.menu-add-btn {
  margin: 15px;
  background: #f39c12;
  border: none;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.menu-add-btn:hover {
  background: #d68910;
}

.menu-tag {
  display: inline-block;
  font-size: 0.7rem;
  background: #ddd;
  color: #333;
  padding: 3px 7px;
  border-radius: 4px;
  margin: 0 15px 10px;
}

.menu-tag.vegetarian {
  background: #2ecc71;
  color: #fff;
}

.menu-tag.new {
  background: #3498db;
  color: #fff;
}

.menu-tag.popular {
  background: #9b59b6;
  color: #fff;
}

.menu-tag.hot {
  background: #e74c3c;
  color: #fff;
}
